.page-header
  %h1 Pros and Cons lists!
%ul
  - @lists.each do |list|
    %li= link_to list.name, edit_list_url(list)
  %li
    = form_tag lists_path, id: "new-list-form" do
      = text_field_tag :name, params[:name],
        "data-bind" => 'value: list, valueUpdate: "afterkeydown"'
      = submit_tag "Add!", class: "btn success",
        "data-bind" => 'enable: list().length > 0'
